
html {
  font-family: 'Source Sans Pro', sans-serif;
}

h1 {
  text-align: center;
}

h3 {
  margin: auto;
}
.pageContent{
  text-align: center;
  border: 1px ridge black;
  margin: 40px;
  -webkit-column-count: 2;
  -moz-column-count: 2;
  -column-count: 2;
}


.navbar {
  background-color: #2B7092;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

.navbar .navbar_link:link {
    display: block;
    width: 120px;
    font-weight: bold;
    color: #FFFFFF;
    background-color: #2B7092;
    text-align: center;
    padding: 4px;
    text-decoration: none;
    text-transform: uppercase;
}

.navbar .navbar_link:hover {
    background-color: #2AA560;
}

.index_main_body{
  position: absolute;
  top: 150px;
  left: 10px;
  padding: 20px;
  font-family: sans-serif;
}

.add_question{
  padding: 20px;

}

 /*visited link */
 #surveytable .surveylinks {
    color: #2B7092;
  }
#surveytable .surveylinks:visited {
    color: orange;
}

 /*mouse over link*/
#surveytable .surveylinks:hover {
    color: #2AA560;
}




/* VIEW SURVEY STUFF */


.view_survey_title {
	text-align: center;
	font-size: 2.5em;
}

.question_container {
	width: 90%;
	min-height: 100px;
	padding: 15px;
	border-bottom: 1px solid black;
}

.response_list {

}

.response_list_item {
	margin-bottom: 3px;
	display: inline;
}

.response_div {
	width: 200px;
	margin-bottom: 5px;
}

.response_radio_button {
	margin-left: 3px;
}







