.index_main_body{
  position: absolute;
  top: 150px;
  left: 10px;
  /*background-color: tan;*/
  padding: 20px;
  font-family: sans-serif;
}


.right_nav_bar{
  position: absolute;
  top: 8px;
  right: 8px;
}

.right_nav_bar_2{
  position: absolute;
  top: 25px;
  right: 8px;
}

.add_question{
  padding: 20px;
  
}



a:link {
    color: green;
    text-decoration: none;
}

/* visited link */
a:visited {
    color: maroon;
    text-decoration: none;
}

/* mouse over link */
a:hover {
    color: red;
    text-decoration: none;
}

/* selected link */
a:active {
    color: navy;
    text-decoration: none;
}