* { box-sizing: border-box; }
html {
  font-family: 'Source Sans Pro', sans-serif;
}

h1 {
  text-align: center;
}

h3 {
  margin: auto;
}
.showsurvey{
  text-align: center;
  border: 1px ridge black;
  margin: 100px;
  -webkit-column-count: 2;
  -moz-column-count: 2;
  -column-count: 2;
}

#surveytable {
  text-align: center;
}

.navbar {
  background-color: #2B7092;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

.navbar .navbar_link:link {
    display: block;
    width: 120px;
    font-weight: bold;
    color: #FFFFFF;
    background-color: #2B7092;
    text-align: center;
    padding: 4px;
    text-decoration: none;
    text-transform: uppercase;
}

.navbar .navbar_link:hover {
    background-color: #2AA560;
}

.index_main_body{
  position: absolute;
  top: 150px;
  left: 10px;
  /*background-color: tan;*/
  padding: 20px;
  font-family: sans-serif;
}


.surveylinks:link {
    color: #2AA560;
}

.right_nav_bar{
  position: absolute;
  top: 8px;
  right: 8px;
}

.right_nav_bar_2{
  position: absolute;
  top: 25px;
  right: 8px;
}

.add_question{
  padding: 20px;
  
}



a:link {
    color: green;
    text-decoration: none;
}

 /*visited link */
.surveylinks:visited {
    color: #E75F3B;
    text-decoration: none;
}

 /*mouse over link */
.surveylinks:hover {
    color: #D58C21;
    text-decoration: none;
}

 /*selected link */
.surveylinks:active {
    color: navy;
    text-decoration: none;
}



/* VIEW SURVEY STUFF */


.view_survey_title {
	text-align: center;
	font-size: 2.5em;
}

.question_container {
	width: 90%;
	min-height: 100px;
	padding: 15px;
	border-bottom: 1px solid black;
}

.response_list {

}

.response_list_item {
	margin-bottom: 3px;
}

.response_div {
	width: 200px;
	margin-bottom: 5px;
	display: table;
	margin-left: 10px;
	height: 25px;
}

.response_radio_button {
	margin-left: 3px;
	margin-right: 5px;
	margin-top: 5px;
	float: left;
}

