<title>Welcome to Squirrel Monkey</title>

<head>
  <h3>Welcome <%= User.find(session_current_user_id).email%></h3>
<div class="createsurvey">
  <h1><strong>Create a Survey</strong></h1>
 <!--  <form action="/survey" method="post">
  </form> -->


</div>

<div class="showsurvey">
  <h1>Find a Survey to Take</h1>
  <%allsurveys = Survey.all %>
    <% allsurveys.each do |survey| %>
<p><a href="/survey/<%=survey.title%>"><%=survey.title%></p></a>
    <%end%>


</div>



</head>
