<title>Welcome to Squirrel Monkey</title>

<head>
  <div class="welcome">
  <h3>Welcome <%= User.find(session_current_user_id).email%></h3>
  <br>
    To Create a new survey click <STRONG>Create New</STRONG> in the navigation bar. To view and take surveys click on <STRONG>Surveys</STRONG> in the navigation bar.</div>



