<title>Welcome to Squirrel Monkey</title>

<head>
  <h3>Welcome <%= User.find(session_current_user_id).email%></h3>


<div id="surveytable">
  <h1>Find a Survey to Take</h1>
  <div class="pageContent">
    <%allsurveys = Survey.all %>
    <% allsurveys.each do |survey| %>
    <p><a class="surveylinks" href="/survey/<%=survey.id%>"><%=survey.title%></p></a>
    <%end%>
  </div>



