<!DOCTYPE html>
<html lang="en">
<head>
  <!--
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/css/normalize.css">
  <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/css/application.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>

  <title></title>
</head>
<body>
  <ul class="navbar">
    <li><a  href="/">Return Home</a></li>
    <li><a  href="/login"> Logout </a></li>
  </ul>

  <div class="right_nav_bar">
    <a href="/surveys"> Surveys </a>
  </div>

  <div class="right_nav_bar_2">
    <a href="/survey/new"> New Survey </a>
  </div>


  <%= yield %>
</body>
</html>
