<body>

<div class="newSurvey">
<form action="/survey" method="post">
  What is the survey?
  <br>
  <input type="text" name="title">


  <br>
  <br>
    <input type="submit" style="font-size: large;   color: light grey; background-color: #2AA560;" value=" Submit ">


</form>

</div>


</body>
