  <div id="surveytable">
    <h1>Find a Survey to Take</h1>
      <% @survey.reverse.each do |survey| %>
      <ul>
        <li><a class="surveylinks" href="/survey/<%=survey.id%>"><%= survey.title %> </a></li> </ul>
      <% end %>
    </div>
